# build output
dist/
# generated types
.astro/
.cache/
coverage/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
!.env.example

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# jetbrains setting folder
.idea/

# editor
.vscode/

# local logs and temp files
*.log
*.tmp
*.temp

# local resources
myresources/
